name: PR Merge Setting

on:
  pull_request:
    types: [closed]

jobs:
  update-project:
    # PR이 실제로 병합된 경우만 실행 (단순히 닫힌 경우 제외)
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      # 1. GitHub App Token 생성
      - name: Generate GitHub App Token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.CARO_BACKEND_APP_ID }}
          private-key: ${{ secrets.CARO_BACKEND_APP_PRIVATE_KEY }}

      # 2. 프로젝트 상태를 "☑Done"으로 변경 (Built-in Automation로 진행)
#      - name: Set Status to Done
#        uses: github/update-project-action@v3
#        with:
#          github_token: ${{ steps.generate-token.outputs.token }}
#          organization: ${{ github.repository_owner }}
#          project_number: ${{ secrets.PROJECT_NUMBER }}
#          content_id: ${{ github.event.pull_request.node_id }}
#          field: Status
#          value: ☑Done

      # 3. End Date를 PR 병합 시간으로 설정
      - name: Set End Date
        uses: github/update-project-action@v3
        with:
          github_token: ${{ steps.generate-token.outputs.token }}
          organization: ${{ github.repository_owner }}
          project_number: ${{ secrets.PROJECT_NUMBER }}
          content_id: ${{ github.event.pull_request.node_id }}
          field: End date
          value: ${{ github.event.pull_request.merged_at }}
